<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="https://getbootstrap.com/docs/5.1/examples/navbars/navbar.css">
    <link rel="stylesheet" href="https://getbootstrap.com/docs/5.1/examples/sidebars/sidebars.css">

    <title>User page</title>
</head>


<body class="d-flex flex-column" style="height: 100vh; margin: 0; padding: 0">
<div class="col-md-12">
    <nav class="navbar static-top navbar-dark bg-dark" style="padding: 0; margin: 0; height: 6vh">
        <a class="navbar-brand" id="navUserEmail">Current
            user</a>
        <a class="navbar-brand" href="/logout" style="color: darkgray">Logout</a>
    </nav>
</div>
<div class="d-flex flex-fill">
    <div class="d-flex flex-column pt-3" style="width: 200px">
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item" id="admin">
                <a class="nav-link" href="/admin">Admin</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/user">User</a>
            </li>
        </ul>
    </div>
    <main class="d-flex flex-column bg-light flex-fill">
        <h1 class="mt-4 ms-4">User information-page</h1>
        <div class="ms-4 me-4" style="border: 1px solid #DCDFE3">
            <div class="ps-3 pt-2 pb-1">
                <h5>About user</h5>
            </div>
            <div class="p-3 overflow-auto" style="border-top: 1px solid #DCDFE3; background: white; max-height: 75vh">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Age</th>
                        <th>Email</th>
                        <th>Role</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td id="id"></td>
                        <td id="firstName"></td>
                        <td id="lastName"></td>
                        <td id="age"></td>
                        <td id="username"></td>
                        <td id="roles"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="/user.js"></script>
<script src="/navbar.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</body>
</html>