<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>$Title$</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
</head>
<body>

<!--########################################################-->
<!--################### MAIN CONTAINER #####################-->
<!--########################################################-->

<div class="container-fluid">
    <!--    ################################################-->
    <!--    #################### HEADER ####################-->
    <!--    ################################################-->
    <div class="row">
        <div class="col-md-12" style="padding: 0; margin: 0">
            <nav class="navbar static-top navbar-dark bg-dark">
                <a class="navbar-brand" href="#"
                   th:utext="'<b>' + ${auUser.getUsername()} + '</b> with roles: ' + ${auUser.getRolesAsString()} ">Current
                    user</a>
                <a class="navbar-brand" href="/logout" style="color: darkgray">Logout</a>
            </nav>
        </div>
    </div>

    <!--    #######################################################-->
    <!--    #######################  BODY  ########################-->
    <!--    #######################################################-->


    <div class="row">
        <div class="col-md-12" style="padding: 0; margin: 0">

            <div class="row">
                <div class="col-2" style="padding: 0; margin: 0; padding-left: 15px; padding-top: 15px">
                    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical"
                         style="padding: 0; margin: 0">
                        <a class="nav-link active show" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home"
                           role="tab" aria-controls="v-pills-home" aria-selected="true">User</a>
                    </div>
                </div>
                <div class="col-10" style="background-color: #fcfcfc; height: 100vh; padding-top: 10px">
                    <div class="tab-content" id="v-pills-tabContent">
                        <div class="tab-pane fade active show" id="v-pills-home" role="tabpanel"
                             aria-labelledby="v-pills-home-tab">

                            <!--                            ############################################################-->
                            <!--                            #################### USER NAV CONTENT ######################-->
                            <!--                            ############################################################-->


                            <h1 id="nav-tabs">User-information page</h1>

                            <!--                        ############################################-->
                            <!--                        ################# TABLE ###################-->
                            <!--                        ############################################-->

                            <h3 style="padding-left: 20px; padding-top: 5px">About user</h3>

                            <div class="col border bg-white">
                                <table class="table table-striped">

                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Age</th>
                                        <th>Email</th>
                                        <th>Role</th>
                                    </tr>

                                    </thead>
                                    <tbody>
                                    <tr>
                                        <th scope="row" th:text="${auUser.id}">ID</th>
                                        <td th:text="${auUser.name}">FirstName</td>
                                        <td th:text="${auUser.lastName}">LastName</td>
                                        <td th:text="${auUser.age}">15</td>
                                        <td th:text="${auUser.username}">user@mail.ru</td>
                                        <td th:text="${auUser.getRolesAsString()}">Roles</td>
                                    </tr>

                                    </tbody>
                                </table>

                            </div>


                        </div>
                    </div>
                </div>


                <!--                            ###################################################-->
                <!--                            ############### USER NAV CONTENT END ##############-->
                <!--                            ###################################################-->


            </div>
        </div>
    </div>
</div>


</div>
</div>
</div>


<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
        crossorigin="anonymous"></script>
</body>
</html>